@import "~bootstrap/scss/bootstrap.scss";

.red {
border-color: white;
}

.selected {
    box-shadow: #f8ffcc 0px 0px 50px 20px !important;

}
.width {
    width:55px;
  margin: auto;
  border-radius: 5px;
    
}

.barra {
    width: 25px;
    margin: auto;
    background-color: black;
}

